In [349]:
import pandas as pd
import numpy as np

In [350]:
## 수정할 내용정리

# 제거
#1. 결측값 포함 행 제거
#2. 검사코드, 검사결과값(표시), 진료과 코드, 진료과 코드NM, 성볅코드 NM 제거

# 변경
#4. 입실 일자, 접수일자, 퇴실 일자 포멧 변경
#5. 입실 시각, 접수시각(?), 퇴실 시각 포멧 변경
#6 검사나이 x대/y세로 그룹화

# 추가
#7. '입원기간'열 추가 
#8. 환자 id(생성규칙모름) 추가

In [377]:
data= pd.read_csv("Data/patient_1.csv")# 기존 df
new_data = pd.DataFrame()# 새로 구성할 df

In [378]:
data

,연구번호,입실일자,입실시각,검사코드,검사코드NM,검사결과값(숫자),검사결과값(표시),기준치상한값,기준치하한값,접수일자,접수시각,검사나이,진료과코드,진료과코드NM,퇴실시각,퇴실일자,환자생년월,성별코드,성별코드NM
0,19300234,20210220,1350.0,ZF0156,"ABGA coding (Des),Artery blood",342.0,342,NaN,NaN,20210221.0,212123.0,81.0,NR,신경과,1430,20210302,193909,M,남성
1,19300234,20210220,1350.0,ZF0016,"Bicarbonate (Qn),Artery blood",27.5,27.5,29.0,23.0,20210221.0,212123.0,81.0,PSY,정신건강의학과,1430,20210302,193909,M,남성
2,19300234,20210220,1350.0,ZF0155,"ABGA interpretation (Des),Artery blood",NaN,이전 동맥혈액 가스검사 판독결과가 Uncompensated respiratory a...,NaN,NaN,20210221.0,43234.0,81.0,NR,신경과,1430,20210302,193909,M,남성
3,19300234,20210220,1350.0,BB0007,"pO2 (Qn)[EM],Artery blood",117.8,117.8,108.0,83.0,20210222.0,45628.0,81.0,PSY,정신건강의학과,1430,20210302,193909,M,남성
4,19300234,20210220,1350.0,ZF0012,"O2 saturation (Qn),Artery blood",98.3,98.3,100.0,94.0,20210222.0,45628.0,81.0,PSY,정신건강의학과,1430,20210302,193909,M,남성
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799995,1169043575,20200519,1800.0,ZF0157,"ABGA reading (Des),Artery blood",NaN,Normal ABGA,NaN,NaN,20200520.0,155439.0,66.0,END,내분비내과,1710,20200520,195307,F,여성
799996,1169043575,20200519,1800.0,BC0202,"Glucose (Qn)[POCT],Blood",299.0,299,99.0,70.0,20200520.0,155439.0,66.0,GI,소화기내과,1710,20200520,195307,F,여성
799997,1169043575,20200519,1800.0,ZF0014,"Base excess (Qn),Artery blood",-1.8,-1.8,NaN,NaN,20200520.0,155439.0,66.0,GS,일반외과,1710,20200520,195307,F,여성
799998,1169043575,20200519,1800.0,ZF0016,"Bicarbonate (Qn),Artery blood",22.9,22.9,29.0,23.0,20200520.0,155439.0,66.0,INF,감염내과,1710,20200520,195307,F,여성
799999,1169043575,20200519,1800.0,BB0074,"Potassium (Qn)[POCT],Blood",3.7,3.7,NaN,NaN,20200520.0,155439.0,66.0,NPH,신장내과,1710,20200520,195307,F,여성

In [353]:
new_data

Empty DataFrame
Columns: []
Index: []

In [384]:
# 1. 결측값 포함 행 제거
data = data.dropna()

NameError: name 'df_target_result' is not defined

In [355]:
#2. 검사코드, 검사결과값(표시), 진료과 코드, 진료과 코드NM, 성볅코드 NM 제거
data.columns

Index(['연구번호', '입실일자', '입실시각', '검사코드', '검사코드NM', '검사결과값(숫자)', '검사결과값(표시)',
       '기준치상한값', '기준치하한값', '접수일자', '접수시각', '검사나이', '진료과코드', '진료과코드NM', '퇴실시각',
       '퇴실일자', '환자생년월', '성별코드', '성별코드NM'],
      dtype='object')

In [356]:
new_data= data.drop(['검사코드','검사결과값(표시)','진료과코드','진료과코드NM','성별코드NM'], axis=1)

In [357]:
new_data

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,접수일자,접수시각,검사나이,퇴실시각,퇴실일자,환자생년월,성별코드
1,19300234,20210220,1350.0,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,20210221.0,212123.0,81.0,1430,20210302,193909,M
3,19300234,20210220,1350.0,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,20210222.0,45628.0,81.0,1430,20210302,193909,M
4,19300234,20210220,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,20210222.0,45628.0,81.0,1430,20210302,193909,M
5,19300234,20210220,1350.0,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,20210222.0,45628.0,81.0,1430,20210302,193909,M
9,19300234,20210220,1350.0,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,20210221.0,43234.0,81.0,1430,20210302,193909,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799991,1169043575,20200519,1800.0,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,20200520.0,163255.0,66.0,1710,20200520,195307,F
799992,1169043575,20200519,1800.0,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,20200520.0,155439.0,66.0,1710,20200520,195307,F
799993,1169043575,20200519,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,20200520.0,155439.0,66.0,1710,20200520,195307,F
799996,1169043575,20200519,1800.0,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,20200520.0,155439.0,66.0,1710,20200520,195307,F
799998,1169043575,20200519,1800.0,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,20200520.0,155439.0,66.0,1710,20200520,195307,F

In [358]:
#4. 입실 일자, 접수일자, 퇴실 일자 포멧 변경
# 숫자 -> 문자열 변환
new_data['입실일자'] = new_data['입실일자'].astype(str)
new_data['접수일자'] = new_data['접수일자'].astype(int).astype(str)
new_data['퇴실일자'] = new_data['퇴실일자'].astype(str)
# datetime형으로 변환
new_data['입실일자'] = pd.to_datetime(new_data['입실일자'])
new_data['접수일자'] = pd.to_datetime(new_data['접수일자'])
new_data['퇴실일자'] = pd.to_datetime(new_data['퇴실일자'])

In [359]:
#5. 입실 시각, 접수시각(?), 퇴실 시각 포멧 변경
# 문자열 변경및 6자리고정
new_data['입실시각'] = new_data['입실시각'].astype(int).astype(str).str.ljust(4,fillchar='0')
new_data['접수시각'] = new_data['접수시각'].astype(int).astype(str).str.ljust(4,fillchar='0')
new_data['퇴실시각'] = new_data['퇴실시각'].astype(str).str.ljust(4,fillchar='0')
# datetime형으로 변환
new_data['입실시각'] = pd.to_datetime(new_data['입실시각'],format="%H%M", errors='coerce').dt.time
new_data['접수시각'] = pd.to_datetime(new_data['접수시각'],format="%H%M", errors='coerce').dt.time
new_data['퇴실시각'] = pd.to_datetime(new_data['퇴실시각'],format="%H%M", errors='coerce').dt.time
new_data['입실시각']

1         13:50:00
3         13:50:00
4         13:50:00
5         13:50:00
9         13:50:00
            ...
799991    18:00:00
799992    18:00:00
799993    18:00:00
799996    18:00:00
799998    18:00:00
Name: 입실시각, Length: 463791, dtype: object

In [360]:
#6 검사나이 x대/y세로 그룹화
def age_group(age):
    if age <=19:
        return '10대'
    elif age <=29:
        return '20대'
    elif age <=39:
        return '30대'
    elif age <=49:
        return '40대'
    elif age <=59:
        return '50대'
    elif age <=69:
        return '60대'
    elif age <=79:
        return '70대'
    elif age <=89:
        return '80세 '
    else :
        return '80세 이상'

In [361]:
## 검사나이 변경
new_data['검사나이'] = new_data['검사나이'].apply(age_group)

In [362]:
#7. '입원기간'열 추가 
new_data['입원기간'] = new_data['퇴실일자']-new_data['입실일자']

In [364]:
#8. 환자 id(생성규칙모름) 추가
# 가설
# 1. 환자 dl에서 인덱스순서가 3,4인 내용은 제거하여 문자열을 생성한다
# 2. 생성된 문자열의 길이가 8미만이라면 부족한 만큼 입실 날자에서 가지고 온다 
# 3. 제거된 인덱스 수에 따라서(2 혹은 1 아니면 0) 입실일자[-2+(제거된 인덱스 수):]의 규칙으로 8자리를 생성한다
def set_id(data):
    ## dl의 최대 길이 10, 최소 길이 4
    dl_s = str(data['연구번호'])
    if len(dl_s)>=5:## 인덱스 2개 제거 가능 
        index =2
    elif len(dl_s)==4:# 인덱스 1개 제거 가능
        index =1
    dl = dl_s[:3] + dl_s[5:]
    
    if len(dl)==8:## 제거된 길이가 8이라면 
        return dl
    else:## 길이가 8보다 작다면 부족한 만큼 입실일자 추가
        return dl+str(data['입실일자']).replace('-','')[2-index : 8-len(dl)+(2-index)]
        
    
new_data['환자ID']=new_data.apply(set_id, axis=1)

In [366]:
new_data

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,접수일자,접수시각,검사나이,퇴실시각,퇴실일자,환자생년월,성별코드,입원기간,환자ID
1,19300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,2021-02-21,NaT,80세,14:30:00,2021-03-02,193909,M,10 days,19323420
3,19300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,2021-02-22,NaT,80세,14:30:00,2021-03-02,193909,M,10 days,19323420
4,19300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,2021-02-22,NaT,80세,14:30:00,2021-03-02,193909,M,10 days,19323420
5,19300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,2021-02-22,NaT,80세,14:30:00,2021-03-02,193909,M,10 days,19323420
9,19300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,2021-02-21,NaT,80세,14:30:00,2021-03-02,193909,M,10 days,19323420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
799991,1169043575,2020-05-19,18:00:00,"pO2 (Qn)[EM],Artery blood",92.5,108.0,83.0,2020-05-20,NaT,60대,17:10:00,2020-05-20,195307,F,1 days,11643575
799992,1169043575,2020-05-19,18:00:00,"pCO2 (Qn)[EM],Artery blood",38.1,45.0,35.0,2020-05-20,NaT,60대,17:10:00,2020-05-20,195307,F,1 days,11643575
799993,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,2020-05-20,NaT,60대,17:10:00,2020-05-20,195307,F,1 days,11643575
799996,1169043575,2020-05-19,18:00:00,"Glucose (Qn)[POCT],Blood",299.0,99.0,70.0,2020-05-20,NaT,60대,17:10:00,2020-05-20,195307,F,1 days,11643575
799998,1169043575,2020-05-19,18:00:00,"Bicarbonate (Qn),Artery blood",22.9,29.0,23.0,2020-05-20,NaT,60대,17:10:00,2020-05-20,195307,F,1 days,11643575

In [370]:
new_data.to_csv('Change_data.csv',index = False, encoding = 'euc-kr')