In [55]:
import pandas as pd
import numpy as np

In [56]:
data_1  = pd.read_csv("Data/new_patient_1.csv")
data_2  = pd.read_csv("Data/patient_2.csv", encoding = "euc-kr")
# 공통 
# 입실일자 2021-02-20
# 입실 시각 13:50:00
# 검사 나이 80세
# 퇴실일자 2021-03-02
# 환자 생년월일 193909
# 성별 M
# 입원 기간 10 days

In [57]:
print(data_1.columns,"\n",data_2.columns )

Index(['연구번호', '입실일자', '입실시각', '검사코드NM', '검사결과값(숫자)', '기준치상한값', '기준치하한값',
       '검사나이', '접수일자', '접수시각', '퇴실일자', '퇴실시각', '환자생년월', '성별코드', '환자ID',
       '입원기간'],
      dtype='object')
 Index(['연구번호', '입실일자', '입실시각', '검사코드NM', '검사결과값(숫자)', '기준치상한값', '기준치하한값',
       '검사나이', '접수일자', '접수시각', '퇴실일자', '퇴실시각', '환자생년월', '성별코드', '환자ID',
       '입원기간'],
      dtype='object')

In [58]:
set_1=data_1[data_1['환자생년월']==193909]
set_2=data_2[data_2['환자생년월']==193909]
print(set_1, set_2)

         연구번호        입실일자      입실시각                           검사코드NM  \
0    19300234  2021-02-20  13:50:00    Bicarbonate (Qn),Artery blood
1    19300234  2021-02-20  13:50:00        pO2 (Qn)[EM],Artery blood
2    19300234  2021-02-20  13:50:00  O2 saturation (Qn),Artery blood
3    19300234  2021-02-20  13:50:00  O2 saturation (Qn),Artery blood
4    19300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood
..        ...         ...       ...                              ...
364  19300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood
365  19300234  2021-02-20  13:50:00  O2 saturation (Qn),Artery blood
366  19300234  2021-02-20  13:50:00        pO2 (Qn)[EM],Artery blood
367  19300234  2021-02-20  13:50:00         Glucose (Qn)[POCT],Blood
368  19300234  2021-02-20  13:50:00         pH (Qn)[EM],Artery blood

     검사결과값(숫자)  기준치상한값  기준치하한값  검사나이        접수일자 접수시각        퇴실일자      퇴실시각  \
0       27.500   29.00   23.00  80세   2021-02-21  NaN  2021-03-02  14:30:00
1      117.800  108.00   83.00  80세   2021-02-22  NaN  2021-03-02  14:30:00
2       98.300  100.00   94.00  80세   2021-02-22  NaN  2021-03-02  14:30:00
3       98.300  100.00   94.00  80세   2021-02-22  NaN  2021-03-02  14:30:00
4       47.000   45.00   35.00  80세   2021-02-21  NaN  2021-03-02  14:30:00
..         ...     ...     ...   ...         ...  ...         ...       ...
364     33.400   45.00   35.00  80세   2021-02-23  NaN  2021-03-02  14:30:00
365     98.300  100.00   94.00  80세   2021-02-23  NaN  2021-03-02  14:30:00
366    119.300  108.00   83.00  80세   2021-02-23  NaN  2021-03-02  14:30:00
367    242.000   99.00   70.00  80세   2021-02-23  NaN  2021-03-02  14:30:00
368      7.519    7.45    7.35  80세   2021-02-23  NaN  2021-03-02  14:30:00

      환자생년월 성별코드      환자ID     입원기간
0    193909    M  19323420  10 days
1    193909    M  19323420  10 days
2    193909    M  19323420  10 days
3    193909    M  19323420  10 days
4    193909    M  19323420  10 days
..      ...  ...       ...      ...
364  193909    M  19323420  10 days
365  193909    M  19323420  10 days
366  193909    M  19323420  10 days
367  193909    M  19323420  10 days
368  193909    M  19323420  10 days

[369 rows x 16 columns]            연구번호        입실일자      입실시각                           검사코드NM  \
0    1219300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood
1    1219300234  2021-02-20  13:50:00        pO2 (Qn)[EM],Artery blood
2    1219300234  2021-02-20  13:50:00        pO2 (Qn)[EM],Artery blood
3    1219300234  2021-02-20  13:50:00  O2 saturation (Qn),Artery blood
4    1219300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood
..          ...         ...       ...                              ...
115  1219300234  2021-02-20  13:50:00  O2 saturation (Qn),Artery blood
116  1219300234  2021-02-20  13:50:00  O2 saturation (Qn),Artery blood
117  1219300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood
118  1219300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood
119  1219300234  2021-02-20  13:50:00       pCO2 (Qn)[EM],Artery blood

     검사결과값(숫자)  기준치상한값  기준치하한값  검사나이        접수일자      접수시각        퇴실일자  \
0         33.3    45.0    35.0  80세   2021-02-24       NaN  2021-03-02
1        134.1   108.0    83.0  80세   2021-02-24       NaN  2021-03-02
2         90.3   108.0    83.0  80세   2021-02-24       NaN  2021-03-02
3         97.3   100.0    94.0  80세   2021-02-28       NaN  2021-03-02
4         40.9    45.0    35.0  80세   2021-02-23       NaN  2021-03-02
..         ...     ...     ...   ...         ...       ...         ...
115       96.5   100.0    94.0  80세   2021-03-01       NaN  2021-03-02
116       99.1   100.0    94.0  80세   2021-03-09  18:19:00  2021-03-02
117       35.2    45.0    35.0  80세   2021-03-09  18:19:00  2021-03-02
118       40.8    45.0    35.0  80세   2021-03-04       NaN  2021-03-02
119       40.3    45.0    35.0  80세   2021-03-02       NaN  2021-03-02

         퇴실시각   환자생년월 성별코드      환자ID     입원기간
0    14:30:00  193909    M  12100234  10 days
1    14:30:00  193909    M  12100234  10 days
2    14:30:00  193909    M  12100234  10 days
3    14:30:00  193909    M  12100234  10 days
4    14:30:00  193909    M  12100234  10 days
..        ...     ...  ...       ...      ...
115  14:30:00  193909    M  12100234  10 days
116  14:30:00  193909    M  12100234  10 days
117  14:30:00  193909    M  12100234  10 days
118  14:30:00  193909    M  12100234  10 days
119  14:30:00  193909    M  12100234  10 days

[120 rows x 16 columns]

In [60]:
subset_data = pd.concat([set_1, set_2], axis=0, ignore_index=True)
subset_data.drop(['접수일자','접수시각'], axis=1)

,연구번호,입실일자,입실시각,검사코드NM,검사결과값(숫자),기준치상한값,기준치하한값,검사나이,퇴실일자,퇴실시각,환자생년월,성별코드,환자ID,입원기간
0,19300234,2021-02-20,13:50:00,"Bicarbonate (Qn),Artery blood",27.5,29.0,23.0,80세,2021-03-02,14:30:00,193909,M,19323420,10 days
1,19300234,2021-02-20,13:50:00,"pO2 (Qn)[EM],Artery blood",117.8,108.0,83.0,80세,2021-03-02,14:30:00,193909,M,19323420,10 days
2,19300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세,2021-03-02,14:30:00,193909,M,19323420,10 days
3,19300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",98.3,100.0,94.0,80세,2021-03-02,14:30:00,193909,M,19323420,10 days
4,19300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",47.0,45.0,35.0,80세,2021-03-02,14:30:00,193909,M,19323420,10 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",96.5,100.0,94.0,80세,2021-03-02,14:30:00,193909,M,12100234,10 days
485,1219300234,2021-02-20,13:50:00,"O2 saturation (Qn),Artery blood",99.1,100.0,94.0,80세,2021-03-02,14:30:00,193909,M,12100234,10 days
486,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",35.2,45.0,35.0,80세,2021-03-02,14:30:00,193909,M,12100234,10 days
487,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.8,45.0,35.0,80세,2021-03-02,14:30:00,193909,M,12100234,10 days
488,1219300234,2021-02-20,13:50:00,"pCO2 (Qn)[EM],Artery blood",40.3,45.0,35.0,80세,2021-03-02,14:30:00,193909,M,12100234,10 days

In [61]:
subset_data.to_csv("subset_data.csv",index = False,encoding = 'euc-kr')