In [8]:
pip install numpy

Collecting numpy
  Downloading numpy-1.19.5-cp36-cp36m-win_amd64.whl (13.2 MB)
Installing collected packages: numpy
Successfully installed numpy-1.19.5
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install pandas

Collecting pandas
  Downloading pandas-1.1.5-cp36-cp36m-win_amd64.whl (8.7 MB)
Requirement already satisfied: numpy>=1.15.4 in c:\users\user\anaconda3\envs\kang\lib\site-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\user\anaconda3\envs\kang\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\envs\kang\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\envs\kang\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.17.0)
Installing collected packages: pandas
Successfully installed pandas-1.1.5
Note: you may need to restart the kernel to use updated packages.

In [11]:
import numpy as np
import pandas as pd

In [77]:
# 1. data sample.csv파일을 불러와 각 변수별 결측치 개수를 도출하시오

df = pd.read_csv("C:/Users/User/Desktop/새 폴더/Data_Sample.csv")
print(df.isnull().sum())

Value1          10
Value2          10
Value3          10
Model_Serial     0
Category         0
dtype: int64

In [78]:
# 2. value1,2,3을 각각 A,B,C로 변수명을 수정하시오.
df = df.rename(columns = {'Value1' : 'A', 'Value2':'B', 'Value3':'C'})
print(df)

            A           B           C Model_Serial Category
0   54.967142   78.769439  207.155747   Gamma-0001        C
1   48.617357   93.690320  211.215690   Alpha-0002        C
2   56.476885   94.859282  221.661025   Alpha-0003        C
3   65.230299         NaN  221.076041   Gamma-0004        A
4   47.658466   97.580714  172.446613    Beta-0005        C
..        ...         ...         ...          ...      ...
95  35.364851  105.779761  186.141808   Alpha-0096        A
96  52.961203   86.742138  217.991997   Alpha-0097        A
97  52.610553  102.305877  206.145990    Beta-0098        B
98  50.051135  100.873131  216.257242    Beta-0099        B
99  47.654129         NaN  212.592577    Beta-0100        A

[100 rows x 5 columns]

In [80]:
#3. 범주형 변수와 연속형 변수를 따로 분리하고 A,B,C결측치 값을 중앙값으로 대체 하시오
print(df.dtypes)
## 중앙값 대체 전
floats= df.select_dtypes(include =['float64']).columns
objects= df.select_dtypes(include =['object']).columns
df1 = df.loc[:, floats]
df2 = df.loc[:, objects]
print(df1, df2)
## 중앙값 대체 후
df1 = df1.fillna(df1.median())
print(df1, df2)

A               float64
B               float64
C               float64
Model_Serial     object
Category         object
dtype: object
            A           B           C
0   54.967142   78.769439  207.155747
1   48.617357   93.690320  211.215690
2   56.476885   94.859282  221.661025
3   65.230299         NaN  221.076041
4   47.658466   97.580714  172.446613
..        ...         ...         ...
95  35.364851  105.779761  186.141808
96  52.961203   86.742138  217.991997
97  52.610553  102.305877  206.145990
98  50.051135  100.873131  216.257242
99  47.654129         NaN  212.592577

[100 rows x 3 columns]    Model_Serial Category
0    Gamma-0001        C
1    Alpha-0002        C
2    Alpha-0003        C
3    Gamma-0004        A
4     Beta-0005        C
..          ...      ...
95   Alpha-0096        A
96   Alpha-0097        A
97    Beta-0098        B
98    Beta-0099        B
99    Beta-0100        A

[100 rows x 2 columns]
            A           B           C
0   54.967142   78.769439  207.155747
1   48.617357   93.690320  211.215690
2   56.476885   94.859282  221.661025
3   65.230299  100.888292  221.076041
4   47.658466   97.580714  172.446613
..        ...         ...         ...
95  35.364851  105.779761  186.141808
96  52.961203   86.742138  217.991997
97  52.610553  102.305877  206.145990
98  50.051135  100.873131  216.257242
99  47.654129  100.888292  212.592577

[100 rows x 3 columns]    Model_Serial Category
0    Gamma-0001        C
1    Alpha-0002        C
2    Alpha-0003        C
3    Gamma-0004        A
4     Beta-0005        C
..          ...      ...
95   Alpha-0096        A
96   Alpha-0097        A
97    Beta-0098        B
98    Beta-0099        B
99    Beta-0100        A

[100 rows x 2 columns]

In [81]:
#4. 결측처리된 연속형 변수와 문자형 변수를 하라나로 합치시오.
reset_df = pd.concat([df1, df2], axis =1) 
print(reset_df)

            A           B           C Model_Serial Category
0   54.967142   78.769439  207.155747   Gamma-0001        C
1   48.617357   93.690320  211.215690   Alpha-0002        C
2   56.476885   94.859282  221.661025   Alpha-0003        C
3   65.230299  100.888292  221.076041   Gamma-0004        A
4   47.658466   97.580714  172.446613    Beta-0005        C
..        ...         ...         ...          ...      ...
95  35.364851  105.779761  186.141808   Alpha-0096        A
96  52.961203   86.742138  217.991997   Alpha-0097        A
97  52.610553  102.305877  206.145990    Beta-0098        B
98  50.051135  100.873131  216.257242    Beta-0099        B
99  47.654129  100.888292  212.592577    Beta-0100        A

[100 rows x 5 columns]

In [82]:
#5.A+B+C변수 들을 합해 Total이라는 변수를 생성하고 ,A,B,C 변수를 삭제하시오
reset_df['Total'] = reset_df['A']+reset_df['B'] + reset_df['C']
reset_df = reset_df.drop(['A','B','C'], axis=1)
print(reset_df)

   Model_Serial Category       Total
0    Gamma-0001        C  340.892328
1    Alpha-0002        C  353.523368
2    Alpha-0003        C  372.997193
3    Gamma-0004        A  387.194632
4     Beta-0005        C  317.685793
..          ...      ...         ...
95   Alpha-0096        A  327.286419
96   Alpha-0097        A  357.695339
97    Beta-0098        B  361.062420
98    Beta-0099        B  367.181508
99    Beta-0100        A  361.134997

[100 rows x 3 columns]

In [83]:
#6. Model_serial 데이터를 Model, Serial의 이름을 가지느 두개의 변수명으로 나누시오
reset_df[['Model' , 'Serial']] = reset_df['Model_Serial'].str.split('-',expand=True)
reset_df = reset_df.drop(['Model_Serial'], axis=1)
print(reset_df)

   Category       Total   Model Serial
0         C  340.892328   Gamma   0001
1         C  353.523368   Alpha   0002
2         C  372.997193   Alpha   0003
3         A  387.194632   Gamma   0004
4         C  317.685793    Beta   0005
..      ...         ...     ...    ...
95        A  327.286419   Alpha   0096
96        A  357.695339   Alpha   0097
97        B  361.062420    Beta   0098
98        B  367.181508    Beta   0099
99        A  361.134997    Beta   0100

[100 rows x 4 columns]

In [87]:
#7. Model 변수의 요소들을 확인하고, 잘못된 값들을 올바르게 수정하시오.
# (이떄 해당 값들을 수정하고 다시 하나로 합쳐야 합니다)
print(reset_df['Model'].unique())
print(reset_df['Model'].str.extract(r'(Gamma)'))

['Gamma' 'Alpha' 'Beta' 'Gamma ' ' Alpha' ' Beta']
        0
0   Gamma
1     NaN
2     NaN
3   Gamma
4     NaN
..    ...
95    NaN
96    NaN
97    NaN
98    NaN
99    NaN

[100 rows x 1 columns]