In [5]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [12]:
df = pd.read_csv("C:/Users/User/Downloads/국영수/국영수2.csv", encoding ='cp949')
print(df)

     국어  영어    수학 체육
0  50.0  88  21.0  상
1  41.0  87  54.0  중
2  85.0  65  84.0  상
3  61.0  85  13.0  중
4  54.0  41  21.0  하
5  84.0  47  87.0  하
6  77.0  98  65.0  상
7  87.0  58   NaN  중
8   NaN  22  78.0  하

In [17]:
"""
데이터 프레임

"""

'\n데이터 프레임\n\n'

In [26]:
print(df.shape) #차원 확인 
print(df.columns)# 변수 확인 
print(df.dtypes)# 변수 타입 확인
print(df.describe())# 수치형 볁수들에 대한 요약
print(df.head())# 위에서 5개의 값 도출
print(df.tail())# 하위 5개의 값 도출
## 결측값 확인 
print(df.isnull().sum()) # dataframe의 총 결측값
## 카테고리 변수의 분포
df['체육'].value_counts()# 카테고리 변수가 어떻게 분포 되는지

df['체육'].unique()# 카테고리 변수가 어떤 요소로 구성된건지 구성 요소

(9, 4)
Index(['국어', '영어', '수학', '체육'], dtype='object')
국어    float64
영어      int64
수학    float64
체육     object
dtype: object
              국어         영어         수학
count   8.000000   9.000000   8.000000
mean   67.375000  65.666667  52.875000
std    18.054976  25.729361  30.554109
min    41.000000  22.000000  13.000000
25%    53.000000  47.000000  21.000000
50%    69.000000  65.000000  59.500000
75%    84.250000  87.000000  79.500000
max    87.000000  98.000000  87.000000
     국어  영어    수학 체육
0  50.0  88  21.0  상
1  41.0  87  54.0  중
2  85.0  65  84.0  상
3  61.0  85  13.0  중
4  54.0  41  21.0  하
     국어  영어    수학 체육
4  54.0  41  21.0  하
5  84.0  47  87.0  하
6  77.0  98  65.0  상
7  87.0  58   NaN  중
8   NaN  22  78.0  하
국어    1
영어    0
수학    1
체육    0
dtype: int64

array(['상', '중', '하'], dtype=object)

In [28]:
df = pd.read_csv("C:/Users/User/Downloads/국영수/국영수.csv", encoding ='cp949')
print(df)

   국어  영어  수학 체육
0  50  88  21  상
1  41  87  54  중
2  85  65  84  상
3  61  85  13  중
4  54  41  21  하
5  84  47  87  하
6  77  98  65  상
7  87  58  54  중
8  54  22  78  하

In [33]:
## dataframe에 새로운 칼럼(변수)추가 
df['total'] = df['수학'] + df['영어']
print(df)

   국어  영어  수학 체육  total
0  50  88  21  상    109
1  41  87  54  중    141
2  85  65  84  상    149
3  61  85  13  중     98
4  54  41  21  하     62
5  84  47  87  하    134
6  77  98  65  상    163
7  87  58  54  중    112
8  54  22  78  하    100

In [37]:
## df 변수 추출 방법 1
# 1변수(칼럼) 추출
print(df['국어'])
# 다변수 리스트로 추출
columns = ['수학','영어','total']
selected_columns = df[columns]
print(selected_columns)

0    50
1    41
2    85
3    61
4    54
5    84
6    77
7    87
8    54
Name: 국어, dtype: int64
   수학  영어  total
0  21  88    109
1  54  87    141
2  84  65    149
3  13  85     98
4  21  41     62
5  87  47    134
6  65  98    163
7  54  58    112
8  78  22    100

In [52]:
## df 변수 추출 방법 2
# 1변수 추출
print(df.loc[:,'국어'])##변수명
print(df.iloc[:,1])## 변수 위치
# 다변수 추출 ????
columns = ['수학','영어','total']
print(df.loc[:,columns])##변수명
print(df.iloc[:,[0,1,2]])## 변수 위치

0    50
1    41
2    85
3    61
4    54
5    84
6    77
7    87
8    54
Name: 국어, dtype: int64
0    88
1    87
2    65
3    85
4    41
5    47
6    98
7    58
8    22
Name: 영어, dtype: int64
   수학  영어  total
0  21  88    109
1  54  87    141
2  84  65    149
3  13  85     98
4  21  41     62
5  87  47    134
6  65  98    163
7  54  58    112
8  78  22    100
   국어  영어  수학
0  50  88  21
1  41  87  54
2  85  65  84
3  61  85  13
4  54  41  21
5  84  47  87
6  77  98  65
7  87  58  54
8  54  22  78

In [49]:
## 변수 개별값 추출(리스트 인덱싱과 코드상 동일함)
df['국어'][:]

0    50
1    41
2    85
3    61
4    54
5    84
6    77
7    87
8    54
Name: 국어, dtype: int64